@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fundo-main: rgba(128, 128, 128, 0.189);
  --fundo-nav-li: #000000;
  --cor-letra-nav-li: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E7E7E7;
    --foreground: black;
    --fundo-main: #ffffff;
    --fundo-nav-li: #ffffff;
    --cor-letra-nav-li: #000000;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--background);
}

.nav-links {
  background-color: var(--background);
}

main {
  background-color: var(--fundo-main);
}








:root {
    --largura: .5em;
    --altura: 3em;
}

@keyframes animacao-letra-d {
    0% { transform: rotate(-45deg); }
    100% { transform: rotate(315deg); }
}


.letra-d {
    overflow: hidden;
    position: absolute;
    top: 22px;
    left: 4.5px;
    display: inline-block;
    width: var(--altura);
    height: var(--altura);
}
.letra-d::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--largura);
    height: var(--altura);
    background-color: black;
}
.letra-d::after {
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: var(--altura);
    height: var(--altura);
    border: var(--largura) solid black;
    border-radius: 50%;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(-45deg);
}

.container-home-page:hover .letra-d::after {
    animation: animacao-letra-d 1s 1 ease-in-out;
}