@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --fundo-main: rgba(128, 128, 128, 0.189);
  --fundo-nav-li: #000000;
  --cor-letra-nav-li: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(128, 128, 128, 0.189);
    --foreground: black;
    --fundo-main: #ffffff;
    --fundo-nav-li: #ffffff;
    --cor-letra-nav-li: #000000;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--fundo-main);
}



h2 {
  font-weight: bold;
}



.nav-links li { 
  position: relative;
  transition: color .8s ease-in-out;
}
.nav-links li::after {
  content: '';
  position: absolute;
  z-index: 0;
  top: -3px;
  left: -4px;
  width: 0;
  height: calc(100% + 6px);
  background-color: var(--fundo-nav-li);
  transition: width .6s ease-in-out;
}

.nav-links li:hover {
  color: var(--cor-letra-nav-li);
}
.nav-links li:hover::after {
  width: calc(100% + 8px);
}
.nav-links a {
  position: relative;
  z-index: 1;
}



.conteudo-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteudo-main h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.paragrafo-main {
  text-indent: 20px;
}